* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-image: url(./images/mountains-universe-1\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

nav {
  display: flex;
  height: 12.2rem;
  margin: 2rem auto 2rem 7.2rem;
  align-items: center;
  gap: 3.2rem;
}

nav a {
  text-decoration: none;
  color: #8D8D99;
  font-weight: 700;
  font-size: 2.1rem;
}

nav a:hover {
  color: #FFFFFF;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17.2rem;
}

section {
  display: flex;
  flex-direction: column;
  margin: 6.3rem 0 0 10.2rem;
  width: 64.8rem;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}

p {
  line-height: 160%;
  font-size: 1.8rem;
  color: #E1E1E6;
}

button {
  padding: 1.2rem 4.2rem;
  border: .2rem solid #FFFFFF;
  border-radius: .5rem;
  background: transparent;
  color: #FFFFFF;
  font-size: 1.4rem;
}

button:hover {
  border-color: rgba(128, 128, 128, 0.733);
  color: rgba(128, 128, 128, 0.779);
}

